<h2>Categories</h2>

<div class="categories-container" *ngFor="let category of categories">
  <button (click)="onSelectCategory(category)">{{ category }}</button>
</div>


<h2>Products</h2>

<div class="product-container">
  <div *ngFor="let product of filteredProducts" class="product">
    <img [src]="product.image" alt="{{ product.name }} - Image">
    <h3>
      <a 
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <!--<p *ngIf="product.description">
      Description: {{ product.description }}
    </p>-->
    <p *ngIf="product.rating">Rating: {{ product.rating }}</p>
    

    <button type="button" (click)="share(product)">
      Share
    </button>

    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>

    <app-product-item
      [product]="product"
      (removeProduct)="onRemoveProduct($event)">
    </app-product-item>

  </div>
</div>
